<h1>Bill Search</h1>

<form>
  <div class="form-group">
    <label for="keyword">Bill Keyword</label>
    {{input value=keyword id="keyword"}}
  </div>
  <button class="btn btn-success" {{action 'keywordSearch'}}>Submit</button>
</form>

<button class="btn btn-danger"{{action 'sns'}}>Random</button>

<button class="btn btn-danger"{{action 'guns'}}>GUNS GUNS GUNS!!!!</button>
